In [1]:
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [10]:
sort = pd.read_csv("sorted(0:8554).csv",header = None)
sort.columns=['path_number','number_of_queries_mapped']
sort = sort[0:5300]

In [11]:
sort

      path_number  number_of_queries_mapped
0            2919                        86
1            2768                        84
2            2073                        76
3            2803                        74
4            2727                        62
...           ...                       ...
5295         2516                         1
5296         2517                         1
5297         8453                         1
5298         2518                         1
5299         8450                         1

[5300 rows x 2 columns]

In [12]:
paths = pd.read_csv('train_paths.csv', header=None)
a = (paths.values)
a.sort(axis=1)
a = a[:, ::-1]
len_path = []
for j,path in enumerate(a):
    l = np.count_nonzero(path+1)
    len_path.append(l)

In [13]:
queries = pd.read_csv('train_queries.csv')

In [14]:
sorted_ratio = pd.read_csv('sorted-ratio-profit-length(0:8554).csv',header = None)
sorted_ratio.columns = ['path_no','ratio','profit','length']

In [15]:
lst = sort.path_number.values.tolist()
newdf = sorted_ratio[sorted_ratio.path_no.isin(lst)]
newdf=newdf.reset_index(drop=True)
newdf.to_csv('sorted-ratio-profit-length(0:5299).csv',header = False,index = False)

In [16]:
sort.to_csv('train_path_no_with_duplicate_paths_count(sorted).csv',header = None,index=None)

In [17]:
duplicate_count = pd.read_csv('train_path_no_with_duplicate_paths_count(sorted).csv',header = None)
duplicate_count.columns=['path_no','duplicate_count']

In [18]:
duplicate_count

      path_no  duplicate_count
0        2919               86
1        2768               84
2        2073               76
3        2803               74
4        2727               62
...       ...              ...
5295     2516                1
5296     2517                1
5297     8453                1
5298     2518                1
5299     8450                1

[5300 rows x 2 columns]

In [19]:
ratio = pd.read_csv('sorted-ratio-profit-length(0:5299).csv',header = None)
ratio.columns=['path_no','ratio','profit','length']

queries = pd.read_csv('train_queries.csv')
#queries.columns =['src','des']

In [20]:
paths = pd.read_csv('train_paths.csv', header=None)
a = (paths.values)
a.sort(axis=1)
a = a[:, ::-1]
len_path = []
for j,path in enumerate(a):
    l = np.count_nonzero(path+1)
    len_path.append(l)

In [21]:
paths

,0,1,2,3,4,5,6,7,8,9,...,224,225,226,227,228,229,230,231,232,233
0,28777,28045.0,28046.0,28047.0,30135.0,28873.0,28872.0,27818.0,27819.0,27820.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
1,52455,52454.0,52453.0,52491.0,47681.0,47682.0,47683.0,47684.0,47685.0,47686.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
2,36506,36507.0,39755.0,39204.0,39207.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
3,25977,26004.0,26005.0,25992.0,25993.0,26415.0,26416.0,26417.0,27815.0,27816.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
4,37341,37342.0,37343.0,37344.0,36584.0,39203.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8550,55037,55036.0,55400.0,54718.0,54719.0,55344.0,55345.0,55346.0,55347.0,55348.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
8551,55037,55036.0,55400.0,54718.0,54719.0,55344.0,55345.0,55346.0,55347.0,55348.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
8552,57465,57464.0,57482.0,57481.0,57922.0,57921.0,58021.0,58042.0,57915.0,57212.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
8553,49595,45993.0,45992.0,45991.0,46021.0,50867.0,49426.0,51535.0,46504.0,46118.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
8554,55401,55036.0,55037.0,54989.0,54990.0,54991.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0

In [22]:
lst = ratio.path_no.values.tolist()
newdf = paths[paths.index.isin(lst)]
newdf.to_csv('train_paths_without_duplicates.csv')

In [23]:
a=pd.read_csv('train_paths_without_duplicates.csv')
a=a.rename(columns = {'Unnamed: 0':'path_no'})

In [24]:
a

,path_no,0,1,2,3,4,5,6,7,8,...,224,225,226,227,228,229,230,231,232,233
0,0,28777,28045.0,28046.0,28047.0,30135.0,28873.0,28872.0,27818.0,27819.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
1,1,52455,52454.0,52453.0,52491.0,47681.0,47682.0,47683.0,47684.0,47685.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
2,2,36506,36507.0,39755.0,39204.0,39207.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
3,3,25977,26004.0,26005.0,25992.0,25993.0,26415.0,26416.0,26417.0,27815.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
4,4,37341,37342.0,37343.0,37344.0,36584.0,39203.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5295,8547,54650,54649.0,54741.0,54614.0,54615.0,54616.0,54407.0,54258.0,54259.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
5296,8548,54746,54745.0,54985.0,54986.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
5297,8549,34260,34261.0,35797.0,37949.0,37950.0,39276.0,40166.0,40167.0,41583.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
5298,8552,57465,57464.0,57482.0,57481.0,57922.0,57921.0,58021.0,58042.0,57915.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
5299,8553,49595,45993.0,45992.0,45991.0,46021.0,50867.0,49426.0,51535.0,46504.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0